<% layout("/layouts/boilerplate") %> 
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap"
  rel="stylesheet"
/>
<link
  href="https://db.onlinewebfonts.com/c/1f31b8f9b2f9b6f5f53c6c3a4c9e3f3b?family=Great+Victorian+Standard"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="../css/hero.css" />
<body>
 

  <h3>All Listings</h3>

<form method="GET" action="/listings/new">
  <button type="submit" class="btn btn-success mb-3">Create New Listing</button>
</form>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 py-4">
  <% for (let listing of allListings) { %>
    <div class="col">
      <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
        <div class="card h-100">
          <img
            src="<%= listing.image %>"
            class="card-img-top py-4"
            alt="listing image"
            style="height: 30rem;width:20px; object-fit: cover;"
          />
          <div class="card-body py-5">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text mb-2">
              <strong>&#8377; <%= listing.price ? listing.price.toLocaleString('en-IN') : "Price not available" %></strong>
            </p>
            <p class="card-text"><%= listing.description ? listing.description.slice(0, 60) + '...' : '' %></p>
            <a href="/listings/<%= listing._id %>" class="btn btn-dark ">View Details</a>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>
